<section id="portfolio">
    <h1><a href="#portfolio">Portfolio</a></h1>
    <ul class="thumbs">
    {% for img_path, caption in images %}
    {% if loop.first %}
        <li class="first">
    {% elif loop.last %}
        <li class="last">
    {% else %}
        <li>
    {% endif %}
            <figure>
                <a href="{{ img_path }}"><img src="{{ img_path }}" /></a>
                {% if caption %}
                <figcaption>
                    {{ caption|e }}
                </figcaption>
                {% endif %}
            </figure>
        </li>
    {% endfor %}
    </ul>
</section>
